Thumbs.db
*.obj
*.sdf
*.opensdf
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.ipch
ipch/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
build/
dist/
CMakeCache.txt
CMakeFiles/
*.egg-info/
lib/
*.kdev4
*.pyc
*.kate-swp
.ipynb_checkpoints/
.coverage
MANIFEST
.idea/
env/
.asv/html
.asv/env
*.c
*.h
*.so
*.pyd
*.sublime-project
*.sublime-workspace
*.cpp
