language: python
sudo: required
dist: trusty
services:
    - docker
notifications:
  email: false

matrix:
    include:
        - python: 2.7
          #env: DOCKER_TAG=linux-python27
        - python: 3.5
          #env: DOCKER_TAG=linux-python35
        - python: 3.6
          env: DEPLOY_ENC_LABEL=e64cfe3b4e81
        - language: generic
          os: osx
          env: TRAVIS_PYTHON_VERSION=2.7
        - language: generic
          os: osx
          env: TRAVIS_PYTHON_VERSION=3.5
        - language: generic
          os: osx
          env: TRAVIS_PYTHON_VERSION=3.6

# Setup anaconda
before_install:
  - set -e # Exit immediately if a command exits with a non-zero status
  - |
      if [ -z "$DOCKER_TAG" ]; then
        ./ci/travis_legacy_deps.sh
      else
        export DOCKER_USER=richardotis
        docker run --cidfile /tmp/build.cid -v $(pwd):/pycalphad:rw  -it $DOCKER_USER/pycalphad-base:$DOCKER_TAG /bin/bash -c "cd /pycalphad ; source /work/miniconda/envs/condaenv/bin/activate condaenv ; conda develop . ; pip install coveralls nose-cov; python setup.py build_ext --inplace ; python setup.py install ; python -c 'import pycalphad ; print(pycalphad.__version__)' ; cd /work"
        docker commit `cat /tmp/build.cid` $DOCKER_USER/pycalphad:$DOCKER_TAG
      fi
# Install packages
install:
  - |
      if [ -z "$DOCKER_TAG" ]; then
        . $HOME/miniconda2/etc/profile.d/conda.sh
        conda deactivate
        conda activate condaenv
        conda install --yes python=$TRAVIS_PYTHON_VERSION numpy scipy matplotlib nose pandas sympy pyparsing dask dill
        conda install --yes xarray cython cyipopt
        pip install -e .
      fi
 
# Run test
script:
  - |
      if [ -z "$DOCKER_TAG" ]; then
        pip install sphinx sphinx_rtd_theme coveralls ipython
        nosetests --with-coverage
        bash ci/deploy.sh
        coveralls
      else
        env -u PATH -u PYTHONPATH -u LANG -u PWD -u HOME -u TRAVIS_COMMIT_MESSAGE > ./env.list
        docker run --rm --env-file ./env.list -v $(pwd):/pycalphad:rw  -it $DOCKER_USER/pycalphad:$DOCKER_TAG /bin/bash -c "cd /pycalphad ; source /work/miniconda/envs/condaenv/bin/activate condaenv && nosetests --with-coverage && pip install sphinx sphinx_rtd_theme coveralls ipython && bash ci/deploy.sh && coveralls"
      fi
