language: python
sudo: required
dist: trusty
notifications:
  email: false

matrix:
    include:
        - python: 2.7
        - python: 3.6
          env: DEPLOY_ENC_LABEL=e64cfe3b4e81
        - name: "Python 3.7.1 on Xenial Linux"
          python: 3.7           # this works for Linux but is ignored on macOS or Windows
          dist: xenial          # required for Python >= 3.7
        - language: generic
          os: osx
          env: TRAVIS_PYTHON_VERSION=2.7
        - language: generic
          os: osx
          env: TRAVIS_PYTHON_VERSION=3.6
        - name: "Python 3.7.2 on macOS"
          os: osx
          osx_image: xcode10.2  # Python 3.7.2 running on macOS 10.14.3
          language: generic       # 'language: python' is an error on Travis CI macOS

# Setup anaconda
before_install:
  - set -e # Exit immediately if a command exits with a non-zero status
  - ./ci/travis_legacy_deps.sh

# Install packages
install:
  - |
      . $HOME/miniconda2/etc/profile.d/conda.sh
      conda deactivate
      conda activate condaenv
      # Use a conda-forge metachannel for speed, including only dependencies
      # of pycalphad. See https://github.com/regro/conda-metachannel
      # For some reason, conda-metachannel is breaking Linux by not picking
      # up some packages (e.g. libgfortran-ng), which I think come from
      # defaults. Only use conda metachannel on Mac.
      if [ "$TRAVIS_OS_NAME" == "osx" ]; then
        echo "!!! Installing pycalphad dependencies via conda metachannel"
        conda install  --yes --override-channels -c https://metachannel.conda-forge.org/conda-forge/nose,pycalphad python=$TRAVIS_PYTHON_VERSION numpy scipy matplotlib nose pandas sympy pyparsing dask dill xarray cython cyipopt symengine python-symengine
      else
        echo "!!! Installing pycalphad dependencies via conda the normal way"
        # I think the problem is that libgfortran-ng from defaults is not picked up. add those to the metachannel
        conda install --yes python=$TRAVIS_PYTHON_VERSION numpy scipy matplotlib nose pandas sympy pyparsing dask dill
        conda install --yes xarray cython cyipopt
      fi
      echo "!!! pip pycalphad as editable"
      pip install -e .

# Run test
script:
  - |
      echo "!!! pip installing test packages"
      pip install sphinx sphinx_rtd_theme coveralls ipython
      echo "!!! conda list output"
      conda list
      echo "!!! running nosetests"
      nosetests --with-coverage
      echo "!!! Running ci/deploy script"
      bash ci/deploy.sh
      coveralls
