language: python
sudo: required
dist: trusty
services:
    - docker
notifications:
  email: false

matrix:
    include:
        - python: 2.7
          env: DOCKER_TAG=linux-python27
        - python: 3.4
          env: DOCKER_TAG=linux-python34
        - python: 3.5
          env: DOCKER_TAG=linux-python35
        - python: 3.6
          env: DEPLOY_ENC_LABEL=e64cfe3b4e81 DOCKER_TAG=linux-python36
        - language: generic
          os: osx
          env: TRAVIS_PYTHON_VERSION=2.7
        - language: generic
          os: osx
          env: TRAVIS_PYTHON_VERSION=3.4
        - language: generic
          os: osx
          env: TRAVIS_PYTHON_VERSION=3.5
        - language: generic
          os: osx
          env: TRAVIS_PYTHON_VERSION=3.6

# Setup anaconda
before_install:
  - |
      if [ -z "$DOCKER_TAG" ]; then
        ./ci/travis_legacy_deps.sh
      else
        export DOCKER_USER=richardotis
        docker run --cidfile /tmp/build.cid -v $(pwd):/pycalphad:rw  -it $DOCKER_USER/pycalphad-base:$DOCKER_TAG /bin/sh -c "cd /pycalphad ; pip install coveralls nose-cov; pip install -e . ; python setup.py build_ext --inplace ; python -c 'import pycalphad ; print(pycalphad.__version__)' ; cd /work"
        docker commit `cat /tmp/build.cid` $DOCKER_USER/pycalphad:$DOCKER_TAG
      fi
# Install packages
install:
  - |
      if [ -z "$DOCKER_TAG" ]; then
        source $HOME/miniconda2/bin/activate condaenv
        conda install --yes python=$TRAVIS_PYTHON_VERSION numpy scipy matplotlib nose pandas sympy pyparsing dask dill
        conda install --yes xarray gcc libgfortran cython cymem
        conda install --yes autograd
        pip install -e .
      fi
 
# Run test
script:
  - |
      if [ -z "$DOCKER_TAG" ]; then
        nosetests --with-coverage
        pip install sphinx sphinx_rtd_theme coveralls
        bash ci/deploy.sh
      else
        docker run --rm -v $(pwd):/pycalphad:rw  -it $DOCKER_USER/pycalphad:$DOCKER_TAG /bin/sh -c "cd /pycalphad ; python setup.py nosetests --with-coverage"
      fi
after_success:
  - pip install coveralls && coveralls
