# Deploy tagged versions
name: Deploy

# on:
#   push:
#     tags:
#       - '*'

on: [push]

jobs:
  PyPI-sdist:
    name: Deploy source distribution to PyPI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # fetch the entire repo history, required to guarantee versioneer will pick up the tags
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - run: pip install twine build
      - run: python -m build --sdist
      - run: twine check --strict dist/*
      # - name: "Upload to PyPI"
      #   run: twine upload -r pypi dist/pycalphad-*.tar.gz
      #   env:
      #     TWINE_USERNAME: "__token__"
      #     TWINE_PASSWORD: ${{ secrets.PYPI_PYCALPHAD_TOKEN }}