name: Documentation
on:
  push:
    branches:
      - develop
      - BLD-fix-sphinx-builds
  pull_request:  # all pull requests

jobs:
  Latest-Docs:
    name: Build and deploy latest documentation
    runs-on: ubuntu-latest
    env:
      TARGET_BRANCH: FAKEBRANCH
      DEPLOY_NAME: latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # fetch the entire repo history, required to guarantee versioneer will pick up the tags
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - run: python -m venv pycalphad-dev
      - name: "Activate virtual environment (Linux/Mac)"
        run: source pycalphad-dev/bin/activate
        if: ${{ runner.os != 'Windows' }}
      - name: "Activate virtual environment (Windows)"
        run: pycalphad-dev\Scripts\Activate.ps1
        if: ${{ runner.os == 'Windows' }}
      - run: pip install .
      - run: pip list
      # Build documentation
      - run: pip install ipython sphinx sphinx-rtd-theme
      - run: sphinx-build -b html docs docs/_build/html
      # Deploy _only_ if a push event triggered the build
      # Workaround since GitHub Actions does not support exiting early succesfully
      - run: git checkout $TARGET_BRANCH
        if: ${{ github.event_name == 'push' }}
      - name: Copy Documentation to destination
        if: ${{ github.event_name == 'push' }}
        run: |
          mkdir -p docs/$DEPLOY_NAME
          # clean any existing contents
          rm -rf docs/$DEPLOY_NAME/*
          # copy the output
          cp -Rf docs/_build/html/* docs/$DEPLOY_NAME
      - name: Commit and push changes
        if: ${{ github.event_name == 'push' }}
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add docs/$DEPLOY_NAME
          git commit -m 'DOC: Deploy ${{ env.DEPLOY_NAME }} docs to website: ${{ github.sha }}'
          git push
