name: Documentation
# Builds on pushes to develop and all pull requests
# Deploys only on push events
on:
  push:
    branches:
      - develop
  pull_request:  # all pull requests

jobs:
  Latest-Docs:
    name: Build and deploy latest documentation
    runs-on: ubuntu-latest
    env:
      TARGET_BRANCH: website
      DEPLOY_NAME: latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # fetch the entire repo history, required to guarantee versioneer will pick up the tags
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - run: python -m venv pycalphad-env
      - run: source pycalphad-env/bin/activate
      - run: pip install -U -r requirements-dev.txt
      - run: pip install -U --no-build-isolation --editable .
      # Build documentation
      - run: sphinx-build -b html docs docs/_build/html
      # Upload documentation html directory
      - uses: actions/upload-artifact@v2
        with:
          path: ./docs/_build/html
          name: pycalphad-documentation
      # Deploy _only_ if a push event triggered the build
      # Workaround since GitHub Actions does not support exiting early succesfully
      - run: git checkout $TARGET_BRANCH
        if: ${{ github.event_name == 'push' }}
      - name: Copy Documentation to destination
        if: ${{ github.event_name == 'push' }}
        run: |
          mkdir -p docs/$DEPLOY_NAME
          # clean any existing contents
          rm -rf docs/$DEPLOY_NAME/*
          # copy the output
          cp -Rf docs/_build/html/* docs/$DEPLOY_NAME
      - name: Commit and push changes
        if: ${{ github.event_name == 'push' }}
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add docs/$DEPLOY_NAME
          git commit -m 'DOC: Deploy ${{ env.DEPLOY_NAME }} docs to website: ${{ github.sha }}'
          git push
