name: Tests

on: [push, pull_request]

jobs:
  Tests:
    name: Test ${{ matrix.os }} with ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 18
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.6", "3.7", "3.8", "3.9"]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # fetch the entire repo history, required to guarantee versioneer will pick up the tags
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - run: python -m venv pycalphad-dev
      # Platform dependent: environment activation script
      - run: source pycalphad-dev/bin/activate
        if: ${{ runner.os != "Windows" }}
      - run: pycalphad-dev\Scripts\Activate.ps1
        if: ${{ runner.os == "Windows" }}
      - run: pip install build
      - run: python -m build --wheel
      # Platform dependent: install path
      - run: pip install dist/*.whl
        if: ${{ runner.os != "Windows" }}
      - run: pip install dist\*.whl
        if: ${{ runner.os == "Windows" }}
      - run: pip check
      - run: pip list
      - run: pip install pytest pytest-cov
      # pytest:
      # - The `--import-mode=append` and `--pyargs pycalphad` flags test the installed package over the local one
      # - The `--cov` flag is required to turn on coverage
      - run: pytest -v --import-mode=append --cov --cov-config=pyproject.toml --pyargs pycalphad
      - run: coverage xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: true
